body {
    background-color: #262626;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* nav bar */
nav.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 2px solid;
    border-color: rgb(40, 130, 165);
}

nav.navbar a.navbar-brand {
    padding: 20px;
    background-color: #262626;
    color: white;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #262626;
}

/* main */
div.col-lg-8 div.container {
    margin-top: 40px;
    padding: 25px;
    background-color: white;
    border: 3px solid;
    border-color: rgb(40, 130, 165);
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid;
    border-color: rgb(40, 130, 165);
    color: #262626; 
}

/* About Me Headshot */
img.headshot {
    float: left;
    margin-right: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 1px solid;
    border-color: #262626;
}

/* Portfolio Cards */
div.card {
    /* width: 200px; */
    /* height: 200px; */
    margin-bottom: 40px;
    border-color: #262626;
}

div.card-img-overlay {
    padding: 0;
}

h2 {
    background-color: rgb(40, 130, 165);
    position: relative;
    top: 150px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

/* contact */
button.btn {
    background-color: rgb(40, 130, 165);
    border-color: rgb(40, 130, 165);
}

/* footer */
footer.page-footer {
    background-color: #f8f9fa;
    border-top: 2px solid;
    border-color: rgb(40, 130, 165);
}